{% extends 'account/base.html' %}
{% load crispy_forms_tags%}
{% load static %}


{% block body %}
    <section>
        <div class="account-form">
            <h3>Arglyphにログイン</h3>
            <form method='POST' role="form" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">ログイン</button>
            </form>
            <div class="login-link">
                <a href="{% url 'account:password-reset' %}">パスワードを忘れた方</a>・<a href="{% url 'account:signup' %}">アカウント作成</a>
            </div>
        </div>
    </section>
{% endblock body %}
