{% extends 'account/base.html' %}


{% block body %}
    <div class="user-detail">
        <div class="user-image">
            {% if user.image %}
                <img src="{{ user.image.url }}">
            {% else %}
                No Image
            {% endif %}
        </div>
        <div class="user-name">{{ user.username }}</div>
        <div class="user-profile">{{ user.profile }}</div>
        {% if user.pk == request.user.pk %}
            <a href="{% url 'account:user-update' user.pk %}">変更</a>
        {% endif %}
    </div>
    <div class="user-post">
        <div class="user-post-tabs">
            <a href="{% url 'account:user-detail' user.pk %}">投稿</a>
            <a href="{% url 'account:user-comment' user.pk %}" class="selected">コメント</a>
        </div>
        {% for comment in comments %}
        <div class="post-item">
            <a href="{% url 'post-detail' comment.post.id %}#{{ comment.id }}">
                <div class="post-title">「{{ comment.post.title }}」でのコメント</div>
                <div class="post-content">{{ comment.content}}</div>
            </a>
            <p>投稿者: <a href="{% url 'account:user-detail' comment.author.pk %}">{{ comment.author }}</a> <span class="pc-only">{{ comment.date_posted|date:'Y-m-d P' }}</span></p>
            <hr>
        </div>
        {% endfor %}
    </div>
{% endblock %}