body {
  background: #f4f5f7;
}
header {
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 0 10%;
  background: #fefefe;
  z-index: 3;
}
footer {
  display: none;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 22px;
  margin-bottom: .5rem;
  font-weight: 500;
}
a {
  color: #666;
}
a:hover, :active, :focus {
  color: #333;
}
a:link, :visited, :hover, :active, :focus {
  text-decoration: none;
  outline: none;
}
ul {
  padding: unset;
  margin: unset;
}
li {
  list-style: none;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
button {
  border: unset;
  background-color: unset;
  padding: unset;
}
button:focus {
  outline: unset;
}
input:-internal-autofill-selected {
  background-color: #FFFFFF !important;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 9999s;
  -webkit-transition: background-color 9999s;
}
.form-control:focus {
  border-color: #AAA;
  box-shadow: 0 0 0 0.2rem #CCC;
}

.header-wrapper {
  height: 60px;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  z-index: 3;
}

/* header */
/* logo周り */
.logo-icon-container {
  margin-right: auto;
}
.logo-icon {
  color: #666666;
  font-size: 40px;
}

/* menu周り */
.menu {
	position: fixed;
	width: 240px;
	height: 240px;
	right: -400px;
  background-color: #fafcfd;
  transition: all 0.3s;
  z-index: 2;
}
.active .menu {
	right: 8px;
}

.menu-item {
  height: 40px;
  display: flex;
  align-items: center;
}
.menu-item a {
  color: #444;
  width: 100%;
  height: 100%;
  padding: 9px;
}
.menu-item:hover {
  background-color: #f6f7f8;
  opacity: 0.9;
}

/* ハンバーガーメニュー */
.btn-trigger {
  position: relative;
  width: 26px;
  height: 20px;
  cursor: pointer;
}
.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #666666;
  border-radius: 4px;
}
.btn-trigger, .btn-trigger span {
  transition: all .5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 9px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#btn::after {
  position: absolute;
  top: 35px;
  left: 38px;
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: all .75s;
}
#btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}
#btn.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-btn-bar02 .8s forwards;
  animation: active-btn-bar02 .8s forwards;
}
@-webkit-keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}
#btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}
#btn.active::after {
  border: 2px solid #666666;
}

.outer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.inner {
  width: 80%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 0 10%;
}
.side {
  height: calc(100vh - 60px);
  width: 20%;
  max-width: 256px;
  top: 60px;
  overflow-y: scroll;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  border-right: 2px solid rgba(0,0,0,.1);
}
.side nav {
  width: 100%;
  padding-top: 20px;
}
.side-item {
  height: 50px;
  display: flex;
  align-items: center;
}
.side-item:hover .side-item-content{
  border-radius: 100px;
  background-color: #bbb;
}
.side-item a {
  width: 100%;
  height: 100%;
  font-size: 19px;
  font-weight: bold;
}
.side-item-content {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 14px;
}
.side form {
  bottom: 10%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.side button {
  width: 90%;
  height: 50px;
  margin: 0 5%;
  font-size: 19px;
  color: #f4f5f7;
  background-color: #666;
  border-radius: 100px;
}
.side button:hover {
  background-color: #999;
}
.main {
  width: 80%;
  max-width: 1024px;
}
/* account周り */
.account-form {
  max-width: 540px;
  padding: 15px 0;
  margin: 0 auto;
}
.account-form button {
  width: 100%;
  height: 40px;
  font-size: 19px;
  color: #f4f5f7;
  background-color: #666;
  border-radius: 100px;
  margin-top: 5px;
}
.account-form button:hover {
  background-color: #999;
}
.account-form #hint_id_username,#hint_id_password1,#hint_id_new_password1 {
    display: none;
}
.account-done {
  margin: 60px auto;
  display: flex;
  justify-content: center;
}
.account-complete {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  flex-wrap: wrap;
}
.account-complete h2 {
  margin: 40px auto;
}
.account-complete .btn {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  font-size: 19px;
  color: #f4f5f7;
  background-color: #666;
  border-radius: 100px;
}
/* login */
.login-link {
  text-align: center;
  margin: 14px auto;
}
/* user-detail */
.user-detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
}
.user-detail .user-name {
  font-size: 22px;
  margin: 20px auto;
  width: 100%;
  text-align: center;
}
.user-detail .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #4a4a4a;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-detail .user-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.user-detail .user-profile {
  width: 100%;
  height: auto;
}
.user-detail a {
  width: 70px;
  height: 40px;
  font-size: 19px;
  color: #f4f5f7;
  background-color: #666;
  border-radius: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-detail a:hover  {
  background-color: #999;
}
.user-post {
  width: 90%;
  margin: 0 auto;
}
.user-post-tabs {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.user-post-tabs a {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.user-post-tabs a:hover {
  background-color: #ddd;
}
.user-post-tabs a.selected {
  border-bottom: 2px solid rgba(0,0,0,.1);
}
.post-title {
  font-size: 12px;
}
.post-item .comment-content {
  font-size: 20px;
}
/* setting */
.setting {
  margin: 15px;
}
.setting h1 {
  padding-left: 10px;
  border-bottom: 2px solid rgba(0,0,0,.1);
  font-size: 32px;
  color: #555555;
}
.setting-item {
  text-align: left;
  font-size: 20px;
}
.setting-item-box {
  height: 76px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.setting-item-box-left {
  width: 90%;
}
.setting-email {
  font-size: 12px;
  width: 100%;
}
/* argument周り */
.post-item {
  font-size: 15px;
  margin: 15px;
}
.post-item h1 {
  font-size: 22px;
}
.post-item .author {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.post-item .author a {
  display: flex;
  align-items: center;
}
.post-item .author .user-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #4a4a4a;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-item .author .user-image img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.post-item .post-content {
  margin-bottom: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.form-btn {
  text-align: right;
}
.post-item form {
  text-align: right;
  display: inline-block;
  margin: 8px 0 8px 8px;
}
.post-item button {
  width: 100%;
  height: 26px;
  padding: 5.5px 9px;
  font-size: 15px;
  color: #f4f5f7;
  background-color: #666;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-item button:hover {
  background-color: #999;
}
.content {
  font-size: 18px;
  border-radius: 5px;
}
.comment-box-outer {
  padding-top: 60px;
  margin-top:-60px;
}
.comment-box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}
.reply-box {
  padding-top: 60px;
  margin-top:-60px;
}
.comment-box-outer:not(:last-child), .comment-list:not(:last-child){
  margin-bottom: 1.5rem;
}
.reply-to-comment {
  display: flex;
}
.reply-to {
  font-size: 12px;
  white-space: nowrap
}
.comment {
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.post-new {
  width: 60px;
  height: 60px;
  background-color: #888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 5%;
}
.post-new svg {
  width: 35px;
  height: 35px;
  color: #f4f5f7;
}
/* ranking */
.ranking-title {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0,0,0,.1);
  font-size: 32px;
  color: #555555;
}
/* form */
.post-form {
  font-size: 15px;
  margin: 15px;
}
.post-form button {
  height: 26px;
  padding: 5.5px 9px;
  font-size: 15px;
  color: #f4f5f7;
  background-color: #666;
  border-radius: 100px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-form button:hover {
  background-color: #999;
}


@media screen and (max-width: 959px) {

}
@media screen and (max-width: 559px) {
  .pc-only {
    display: none !important;
  }
  h3 {
    font-size: 18px;
  }
  .logo-icon {
    font-size: 30px;
  }
  .main {
    width: 100%;
  }
  .inner {
    width: 90%;
    margin: 0 5%;
  }
  .post-item {
    margin: 15px 0;
  }
  .post-item h1 {
    font-size: 18px;
  }
  .post-item .post-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .side {
    width: 100%;
    height: 60px;
    max-width: unset;
    position: fixed;
    display: block;
    background: #fefefe;
    top: unset;
    bottom: 0;
    border-right: 0;
    margin: 0 auto;
    overflow-y: unset;
    z-index: 3;
  }
  .side nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
  }
  nav .side-item {
    width: 25%;
    height: 60px;
    display: flex;
  }
  nav .side-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .side-item a svg {
    width: 50%;
    height: 50%;
  }
  .user-post {
    width: 100%;
  }
}
@media screen and (min-width: 560px) {
  .sp-only {
    display: none !important;
  }
}