{% extends 'account/base.html'%}


{% block body %}
    <div class="post-item">
        <h1>{{ object.title }}</h1>
        <div class="author">
            <span>
                <a href="{% url 'account:user-detail' object.advocate.pk %}">
                    <div class="user-image">
                    {% if object.advocate.image %}
                        <img src="{{ object.advocate.image.url }}">
                    {% else %}
                        No Image
                    {% endif %}
                    </div>
                    {{ object.advocate }}
                </a>  
            </span>
            {{ object.date_posted|date:'Y-m-d P' }}
        </div>
        <div class="post-content">{{ object.content }}</div>
        <div class="form-btn">
                <form action="{% url 'comment-create' post.pk %}">
                    <button type="submit">コメント</button>
                </form>
            {% if request.user == post.advocate %}
                <form action="{% url 'post-update' post.id %}">
                    <button type="submit">更新</button>
                </form>
                <form action="{% url 'post-delete' post.id %}">
                    <button type="submit">削除</button>
                </form>
            {% endif %}
        </div>
        
        <h2 class="comment-list">コメントリスト</h2>
        {% for comment in comment_list %}
            <div class="comment-box-outer" id="{{ comment.id }}">
                <div class="comment-box">
                    <div class="content">{{ comment.content }}</div>
                    <div class="author">
                        <span>
                            <a href="{% url 'account:user-detail' comment.author.pk %}">
                                <div class="user-image">
                                {% if comment.author.image %}
                                    <img src="{{ comment.author.image.url }}">
                                {% else %}
                                    No Image
                                {% endif %}
                                </div>
                                {{ comment.author }}
                            </a>  
                        </span>
                    </div>
                    <div class="form-btn">
                        <form action="{% url 'reply-create' comment.pk %}">
                            <button type="submit">返信</button>
                        </form>
                    </div>
                    {% with reply_list=comment.comment_set.all %}
                        {% include 'argument/includes/reply.html' %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
